<script>
  $.getJSON('https://spiral-happy-field.glitch.me/ip', function(data) {
    console.log(data);
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<style>
body {
  margin: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  position: relative;
  text-align: center;
  padding: 40px 0;

  font-size: calc(6em + 5vw);
  white-space: nowrap;

  background: -webkit-linear-gradient( 92deg, #95d7e3, #eb76ff );
  background-size:600vw 600vw;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimate 5s linear infinite alternate;
}

@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
    
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
    
  }
}
</style>

<ddiv class="wrapper">
  <h1>
    Georgeta Petre Cea Mai Proasta Femeie
  </h1>
</div>
